<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced Search</title>
    <meta name="description" content="Advanced search. Bulletin of the biology students' research society.">
    {% include 'head.html' %}

    <style>
        @media only screen and (max-width: 767px) {
            .abstract {
                display: none;
            }

            h5 {
                font-size: 16px;
            }

            lottie-player {
                display: none;
            }


        }

        .pp {
            float: right;
        }

    </style>
</head>
<body style="padding: 0 10px;">
{% include 'menu.html' %}
<div class="col-12 p-0 mt-3 mb-3" style="border-radius: 10px;">

    <form class="form-inline " method="get" style="border-radius: 10px;">
        <div class="container p-3 shadow-sm d-flex justify-content-center align-items-center flex-column flex-lg-row shadow-sm"
             style="border-radius: 10px;">
            {{ filter.form.citation_title }}
            {{ filter.form.abstract }}
            {{ filter.form.keywords }}
            {{ filter.form.citation_volume }}
            {{ filter.form.section }}

            <button class="btn btn btn-light mt-3 mb-3 border shadow-sm w-100 "
                    style=" border-radius: 6px; color: black; background: #cfffdc;
    font-weight: 300;" type="submit">Search
            </button>
        </div>
    </form>
</div>

<div class="col align-self-center  p-0 ">
    {% for m in filter.qs %}

    <div class="container shadow-sm  mb-4 p-0 bg-white " style="border-radius: 10px;">
        <div class="d-flex align-items-center p-3 justify-content-between justify-content-md-between px-3 mb-0">

            <div class="badge border badge-light pp shadow-sm px-2" style="background: #cfffdc; font-weight: 400;">{{m.section}}
            </div>
            <div class="badge border badge-light pp shadow-sm px-2" style="font-weight: 400;">pp.
                {{ m.citation_firstpage }}-{{m.citation_lastpage }}
                in Volume {{ m.citation_volume }}
            </div>

        </div>


        <div class="container p-0 ">
            <a href="{{ m.get_absolute_url }}" class="text-dark">
                <h5 class="d-flex align-items-start justify-content-start px-3 mb-3 mt-1">
                    {{ m.citation_title}}
                </h5>
            </a>
        </div>

        <div class="container" style="margin-bottom: 0; ">
            {% for author in m.authors.all %}
            <a href="{{ m.get_absolute_url }}" class="badge badge-light border" style="font-weight: 300;">{{ author }}</a>
            {% endfor %}
        </div>
        <br>
        <div class="container-fluid abstract pb-2">
            {{ m.abstract|safe| slice:"300" }}... <a href="{{ m.get_absolute_url }}" class="badge badge-primary">Read
            more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% include 'footer.html' %}
</body>
</html>