<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load honeypot %}
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    {% include 'head.html' %}
<body style="padding: 0 10px;">
{% include 'menu.html' %}
<section>

    <div class="row p-3 ">
        <div class="container-sm shadow-lg p-3 mb-4 bg-white rounded p-lg-5 justify-content-center d-flex flex-column   ">
            <button type="button" class="btn btn-light shadow btn-lg btn-block mb-3">
                <strong>Please fill out the form below.</strong>
            </button>
            <form action="" method="post" class="">
                {% csrf_token %}
                {% render_honeypot_field "phonenumber" %}
                {{ contact_form }}
                <small id="emailHelp" class="form-text text-muted p-1">We'll never share your information with anyone
                    else.</small>
                <br>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
    </div>

</section>
{% include 'footer.html' %}
</body>
</html>