{% load static %}
<div id="stack">
    <h1 align="center">Our Stack</h1>
        <div class="row justify-content-center" align="center">
             <div class="center pt-4 pb-4">
                 <img src="{% static 'jum/django.png' %}" width="88" height="40" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center"><small>Django</small></h5>
              </div>
             </div>
            <div class="center pt-4 pb-4">
                 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png" width="40" height="40" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center"><small>Postgresql</small></h5>
              </div>
            </div>
            <div class="center pt-4 pb-4">
                 <img src="https://www.chartjs.org/img/chartjs-logo.svg" width="40" height="40" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center"><small>Chart.js</small></h5>
              </div>
            </div>
            <div class="center pt-4 pb-4">
                 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1024px-Bootstrap_logo.svg.png" width="40" height="40" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center"><small>Bootstrap</small></h5>
              </div>
            </div>
            <div class="center pt-4 pb-4">
                 <img src="https://static.lottiefiles.com/static_uploads/lf_Symbol.png" width="40" height="40" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center"><small>Lottiefiles</small></h5>
              </div>
            </div>
            <div class="center pt-4 pb-4">
                 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Openlogo-debianV2.svg/1200px-Openlogo-debianV2.svg.png" width="35" height="40" alt="...">
              <div class="card-body">
                <h5 class="card-title" align="center"><small>Debian 10</small></h5>
              </div>
            </div>
        </div>
    </div>