<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load honeypot %}
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    {% include 'head.html' %}
<body>
{% include 'menu.html' %}
<section>

    <div class="row p-3 p-lg-5">
        <div class="container-sm shadow p-3 mb-4 bg-white rounded">
            <button type="button" class="btn btn-danger btn-lg btn-block mb-3">
                <strong>You are reporting a bug.</strong>
            </button>
            <form action="" method="post">
                {% csrf_token %}
                {% render_honeypot_field "phone" %}
                {{ form }}
                <small id="emailHelp" class="form-text text-muted p-1">
                    We'll never share your information with anyone else.
                </small>
                <br>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-light shadow-lg border" value="Submit">
                </div>
            </form>
        </div>
    </div>
</section>

{% include 'footer.html' %}
</body>
</html>