<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Volumes</title>
    <meta charset="UTF-8">
    <meta name=”robots” content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @media only screen and (max-width: 767px) {
            .abstract {
                display: none;
            }

            h5 {
                font-size: 16px;
            }

            lottie-player {
                display: none;
            }


        }

        .pp {
            float: right;
        }

    </style>

</head>
<body style="padding: 0 10px;">
{% block content %}
{% include 'menu.html' %}

<div class="col align-self-center  p-0 mt-2 ">
    {% for m in manuscripts %}

    <div class="container shadow-sm mb-2 p-0 bg-white " style="border-radius: 10px;">
        <div class="d-flex align-items-center p-3 justify-content-between justify-content-md-between px-3 mb-0">

            <div class="badge border badge-light pp shadow-sm px-2 text-light py-1" style="background: #001D2B; font-weight: 200;">{{m.section}}
            </div>
            <div class="badge border badge-light pp shadow-sm px-2" style="font-weight: 200;">pp.
                {{ m.citation_firstpage }}-{{m.citation_lastpage }}
                in Volume {{ m.citation_volume }}
            </div>

        </div>


        <div class="container p-0 ">
            <a href="{{ m.get_absolute_url }}" class="text-dark">
                <h5 class="d-flex align-items-start justify-content-start px-3 mb-3 mt-1">
                    {{ m.citation_title}}
                </h5>
            </a>
        </div>

        <div class="container" style="margin-bottom: 0; ">
            {% for author in m.authors.all %}
            <a href="{{ m.get_absolute_url }}" class="badge badge-light border" style="font-weight: 300;">{{ author }}</a>
            {% endfor %}
        </div>
        <br>
        <div class="container-fluid abstract pb-2">
            {{ m.abstract|safe| slice:"300" }}... <a href="{{ m.get_absolute_url }}" class="badge badge-light border">Read
            more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
{% include 'footer.html' %}
</body>
</html>